<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moje notatki</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Moje Notatki</h1>
    <ul>
        {% for note in notes %}
            <li>
                <h2><a href="{{ url_for('main.view_note', note_id=note.id) }}">{{ note.title }}</a></h2>
                <div class="note-preview">
                    {{ note.content_html[:200] | safe }}...
                </div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
